*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Lobster', cursive;
}
body {
  background: black;
  /* display: flex;
  justify-content: center; */
}
.mainGround {
  position: absolute;
  /* width: 1400px;
  height: 720px; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
rec-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 400px;
  border-radius: 25px;
  box-shadow: 0 0 10px #e8dfd5, 0 0 15px #f6c6ad;
  background: #2e2723cc;
  color: #9d5c4c;
}
.startBtn {
  display: block;
  text-decoration: none;
  position: relative;
  width: 240px;
  height: 238px;
  border-radius: 50%;
  background-image: url("../images/start_btn.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.startBtn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 69px;
  left: 70px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.8s;
  box-shadow: 0 0 100px black,
              0 0 125px black,
              0 0 150px black,
              0 0 175px black;
}
.startBtn:hover.startBtn::before{

  box-shadow: 0 0 125px #f6c6ad,
              0 0 150px #f6c6ad,
              0 0 175px #f6c6ad;
}
.startBtn:active {
  background-size: 90% 90%;
  box-shadow: inset 0 0 100px #2395c2,
              inset 0 0 125px #2395c2,
              0 0 25px #28b3cf,
              0 0 50px #28b3cf;
}
.first {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  transition: all 0.8s;
}
#bottle {
  background-image: url("../images/bottle.png");
}
#bucket {
  background-image: url("../images/bucket.png");
}
#elixir {
  background-image: url("../images/elixir.png");
}
#key {
  background-image: url("../images/key.png");
  z-index: 1;
}
#sword {
  background-image: url("../images/sword.png");
  transform: rotate(300deg);
  z-index: 1;
}
.bar {
  position: absolute;
  background: #ffffff70;
  width: 50px;
  height: 160px;
  top: 20px;
  left: 1330px;
  border-radius: 15px;
}
.itemBar {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #00000070;
  border-radius: 5px;
  left: 5px;
}
#ib1 {
  top: 10px;
}
#ib2 {
  top: 60px;
}
#ib3 {
  top: 110px;
}
